<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>

    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet"
      href="./libs/bootstrap/css/bootstrap.css">

    <link rel="stylesheet"
      type="text/css"
      media="screen"
      href="./main.css"/>

    <script src="./libs/vue-dev.js">
    </script>

    <script src="./scripts/common.js">
    </script>
  </head>

  <body>
    <div id="app-container"
      class="container">
      <nav-bar v-bind:pages="pages"
        v-bind:current-page-id="currentPageId">
      </nav-bar>

      <nav>
        <a v-if="previousPokemonUrl"
          v-bind:href="previousPokemonUrl">
          Previous
        </a>

        <a v-if="nextPokemonUrl"
          v-bind:href="nextPokemonUrl">
          Next
        </a>
      </nav>

      <pokemon-details-card v-bind:details="pokemonDetails">
      </pokemon-details-card>
    </div>
    <script src="./scripts/details.js"
      defer="defer">
    </script>
  </body>
</html>
