/*
.nav-item {
  display: inline-block;
  padding: 8px;
  margin: 4px;

  background-color: #ff0;
}

.current-nav-item {
  background-color: #0ff;
}
*/

.pokedex-entry {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.pokedex-entry span {
  flex-grow: 1;
  text-align: center;
}

.pokemon-card {
  border: thin solid black;
}
.pokemon-card span {
  display: inline-block;
  width: 100px;
  height: 36px;

  border: thin solid black;
  margin: 8px;
}
.pokemon-card-sprite {
  width: 192px;
  height: 192px;
  max-width: 100%;
  max-height: 100%;

  background-color: greenyellow;
}

.backgroundclr {
  background-color: #cc0000;

  background-size: cover;

  background-position: center center;

  background-repeat: no-repeat;

  width: 100%;
}

.screenclr {
  background-color: grey;

  background-size: cover;;

  background-position: center center;

  background-repeat: no-repeat;

  width: 100%;
}
