
body {
  background-color: darkgrey;
}

#app-container {
  min-height: 600px;

  background-color: ivory;
}

.pokedex {
  width: 80%;
  max-width: 600px;
}
.pokedex-entry {
  display: flex;
  align-content: center;
  justify-content: space-between;

  text-transform: capitalize;
}
.pokedex-entry span {
  flex-grow: 1;
  text-align: center;
}

.previous-pokemon-link {
  float: left;
  text-align: center;
}
.next-pokemon-link {
  float: right;
  text-align: center;
}

.pokemon-card {
  width: 80%;
  max-width: 600px;
<<<<<<< HEAD
  background-color: gray;
=======
  margin-top: 16px;
>>>>>>> upstream/master
}
.pokemon-card h2 {
  text-align: center;
  text-transform: capitalize;
}
.pokemon-card span {
  display: inline-block;
  margin: 8px;

  text-align: center;
  text-transform: uppercase;
}
.pokemon-card-sprite {
  width: 192px;
  height: 192px;
  max-width: 100%;
  max-height: 100%;

  background-color: gray;
}

body{
  margin: 0px;
   padding: 0px;
   background-color: ##cc0000;
}

.backgroundclr {
  background-color: #cc0000;

  background-size: cover;

  background-position: center center;

  background-repeat: no-repeat;

  width: 100%;
}

.backgroundclr p, h2 {
  color: #ffff;
}

.jumbotron h2{
  color : #0000ff;
}

.screenclr {
  background-color: grey;

  background-size: cover;;

  background-position: center center;

  background-repeat: no-repeat;

  width: 100%;
}

.about-general {
  width: 60%;

  text-align: center;
}
.dev-profiles {
  display: flex;
  align-content: center;
  justify-content: space-around;

  text-align: center;
}
.dev-profile-card {
  width: 40%;
  max-width: 400px;
}

